/* Появление глобальных стилей */
* {
  box-sizing: border-box;
}

/* Общее оформление для всех элементов */
body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background-color: #2b2b2b; /* Тёмный фон */
  color: white;
}

.app-container {
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(-45deg, #1e1e2f, #252540, #1a1a2e, #101020);
  background-size: 200% 200%;
  animation: gradientBG 10s ease-in-out infinite;
  transition: filter 0.7s ease;
  grid-template-columns: auto 300px; /* Центр и правая панель */
}

/* Когда левая панель видна */
.app-container.sidebar-visible {
  /* левая панель 260px, центр гибкий, правая 300px */
  grid-template-columns: 260px auto 300px;
}

/* Когда левая панель скрыта */
.app-container.sidebar-hidden {
  /* левая панель 0, центр занимает всё, правая остаётся 300px */
  grid-template-columns: 0 auto 300px;
}

/* Эффект размытия для интерфейса */
.blurred {
  filter: blur(5px); /* Применяем размытие */
  pointer-events: none; /* Блокируем взаимодействие с размытым контентом */
  user-select: none; /* Отключаем возможность выделения текста */
}

/* Анимация фона */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}