.channel-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%; /* ✅ фиксированная высота для растягивания */
  overflow-y: auto;
  box-sizing: border-box; /* чтобы padding не выходил за рамки */
  overflow-x: hidden; /* ✅ блокирует горизонтальную прокрутку */
}

.channel-list::-webkit-scrollbar {
  width: 8px;
}

.channel-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.channel-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
