.ban-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ban-user-container h2 {
  color: #dc3545;
  margin-bottom: 20px;
}

.ban-user-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ban-user-container input[type="text"] {
  padding: 10px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid #dc3545;
  border-radius: 5px;
}

.checkbox-label {
  margin-bottom: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ban-user-container button {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ban-user-container button:hover {
  background-color: #a71d2a;
}

.ban-button {
  background-color: #dc3545;
}

.ban-button:hover {
  background-color: #b02a37;
}
